body{
    
    font-family: sans-serif;
    background-color: #909090;
}
.wrapper{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    box-sizing:border-box;
    background: #fff;
    display: flex;
    .container{
        width: 900px;
        padding: 57px 80px;
        display: flex;
        flex-wrap: wrap;
        .nav{
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            ul{
                display: flex;
                list-style-type: none;
                li{
                    margin-left: 50px;
                    margin-top: -10px;
                }

                a{
                    text-decoration: none;
                    color:#AAAAAB;
                    font-size: 12px;
                    img{
                        width: 12px;
                    }
                }
            }
        }
        .card{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            .card6{
                width: 48%;
                .creative{
                    color:#F78CB6;
                    font-size: 20px;
                    line-height: 20px;
                    float: left;
                }
                h3{
                    color:#56597A;
                    font-size: 37px;
                    text-align: left;
                    margin-bottom:5px ;
                    
                }
                p{
                    color:#919299;
                    font-size: 14px;
                    text-align: left;
                    line-height: 1.5;
                }
                button{
                    background-color:#F78BB6;
                    width:125px;
                    color:#fff;
                    border: none;
                    border-radius: 4px;
                    padding: 15px 10px;
                    position: relative;
                    font-size: 12px;
                    text-align: left;
                    float: left;
                    margin-top: 10px;
                    img{
                        width: 20px;
                        position: absolute;
                       
                    }
                    .imageOne{
                        top: 50%;
                        left: 75%;
                        transform: translate(-50%, -50%);
                    }
                    .imageTwo{
                        top: 50%;
                        left: 80%;
                        transform: translate(-50%, -50%);
                    }
                }
                img{
                    width: 100%;
                    margin-right: 20px;
                }
            }
            
        }
        .cards{
            margin-bottom: 60px;
            width: 100%;
            
            .service{
                width: 100%;
                color:#F78CB6;
                font-size: 16px;
                font-weight: 600;
            }
            .title{
                width: 100%;
                color:#56597A;
                font-weight: 700;
                font-size: 30px;
                width: 100%px;
            }
            .card{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 20px;
                .card3{
                    width: 20%;
                   background-color:#FFF1F9;
                    padding: 10px;
                    height: 200px;
                    border-radius: 4px;
                    transition: all 0.5s ease;
                    box-shadow: 0 1px 3px #909090;
                    img{
                        width: 20%;
                        margin: 40px 0 30px;
                    }
                    .image2{
                       // z-index: 2;
                        display: none;
                    }
                    
                    h5{
                        color:#56597A;
                        font-size: 20px;
                        margin: 0;
                    }
                    p{
                        color:#919299;
                        font-size: 11px;
                        line-height: 1.5;
                    }
                    .learn{
                        display: none;
                        color:#fff;
                        position: relative;
                        font-size: 12px;
                        font-weight: 600;
                        img{
                            width: 3%;
                            position:absolute;
                            top: -260%;
                            left: 75%;
                        }
                    }

                    &:hover{
                        background-color:#F78CB6;
                        height: 210px;
                        box-shadow:  0 2px 5px #909090;
                        h5{
                            color: #fff;
                        }
                        p{
                            color: #fff;
                        }
                        .learn{
                            display: block;
                            margin-top: 20px;
                        }
                        .image1{
                            display: none;
                        }
                        .image2{
                            display: inline;
                        }
                    }

                    
                }
            }
            
        }
    }
}